numpy
pdf2image 
typed-argument-parser
google-generativeai 
gradio
gradio-pdf
regex
langchain
pillow
python-dotenv 
opencv-python 
transformers==4.42.4 
pydantic-settings 
ftfy 
pypdfium2
#pip install torch==2.3.1 torchvision==0.18.1 torchaudio==2.3.1 --index-url https://download.pytorch.org/whl/cu121